# backend
backend/node_modules

backend/.serverless
backend/.env

backend/.webpack
backend/dist

backend/.DS_Store
backend/yarn-error.log

# frontend
frontend/node_modules
frontend/jspm_packages

frontend/.serverless
frontend/.env

frontend/.webpack
frontend/dist

frontend/.DS_Store
frontend/yarn-error.log
